@model Nop.Plugin.Widgets.AnnouncementBar.Models.AnnouncementItemSearchModel
@using Nop.Web.Framework.Models.DataTables
@inject Nop.Services.Localization.ILocalizationService localizationService

@{
    Layout = "_AdminLayout";

    var pageTitle = await localizationService.GetResourceAsync("Plugins.Widgets.AnnouncementBar.Menu.ManageItems");
    var addNewText = await localizationService.GetResourceAsync("Plugins.Widgets.AnnouncementBar.Button.AddNew");
    var cardListTitle = await localizationService.GetResourceAsync("Plugins.Widgets.AnnouncementBar.Card.List");
    var configureText = await localizationService.GetResourceAsync("Plugins.Widgets.AnnouncementBar.Button.Configure");

    var fieldText = await localizationService.GetResourceAsync("Plugins.Widgets.AnnouncementBar.Fields.Text");
    var fieldColor = await localizationService.GetResourceAsync("Plugins.Widgets.AnnouncementBar.Fields.Color");
    var fieldLinkUrl = await localizationService.GetResourceAsync("Plugins.Widgets.AnnouncementBar.Fields.LinkUrl");
    var fieldDisplayOrder = await localizationService.GetResourceAsync("Plugins.Widgets.AnnouncementBar.Fields.DisplayOrder");
    var fieldIsActive = await localizationService.GetResourceAsync("Plugins.Widgets.AnnouncementBar.Fields.IsActive");

    var editText = await localizationService.GetResourceAsync("Admin.Common.Edit");
    var deleteText = await localizationService.GetResourceAsync("Admin.Common.Delete");

    ViewBag.PageTitle = pageTitle;
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @pageTitle
    </h1>
    <div class="float-right">
        <a href="@Url.Action("Configure", "AnnouncementBar", new { area = "Admin" })" class="btn btn-default">
            <i class="fas fa-cog"></i>
            @configureText
        </a>
        <a href="@Url.Action("Create", "AnnouncementBar", new { area = "Admin" })" class="btn btn-primary">
            <i class="fas fa-plus-square"></i>
            @addNewText
        </a>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <nop-cards id="announcement-bar-cards">
            <nop-card asp-name="announcement-bar-list"
                      asp-icon="fas fa-bullhorn"
                      asp-title="@cardListTitle"
                      asp-hide-block-attribute-name="AnnouncementBarList.Hide"
                      asp-hide="false"
                      asp-advanced="false">

                <div class="card-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "announcement-bar-grid",
                        UrlRead = new DataUrl("List", "AnnouncementBar", null),
                        UrlDelete = new DataUrl("Delete", "AnnouncementBar", null),
                        Length = Model.PageSize,
                        LengthMenu = Model.AvailablePageSizes,
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(Nop.Plugin.Widgets.AnnouncementBar.Models.AnnouncementItemModel.Text))
                            {
                                Title = fieldText
                            },
                            new ColumnProperty(nameof(Nop.Plugin.Widgets.AnnouncementBar.Models.AnnouncementItemModel.Color))
                            {
                                Title = fieldColor
                            },
                            new ColumnProperty(nameof(Nop.Plugin.Widgets.AnnouncementBar.Models.AnnouncementItemModel.LinkUrl))
                            {
                                Title = fieldLinkUrl
                            },
                            new ColumnProperty(nameof(Nop.Plugin.Widgets.AnnouncementBar.Models.AnnouncementItemModel.DisplayOrder))
                            {
                                Title = fieldDisplayOrder,
                                Width = "120"
                            },
                            new ColumnProperty(nameof(Nop.Plugin.Widgets.AnnouncementBar.Models.AnnouncementItemModel.IsActive))
                            {
                                Title = fieldIsActive,
                                Width = "120",
                                ClassName = NopColumnClassDefaults.CenterAll,
                                Render = new RenderBoolean()
                            },
                            new ColumnProperty(nameof(Nop.Plugin.Widgets.AnnouncementBar.Models.AnnouncementItemModel.Id))
                            {
                                Title = editText,
                                Width = "100",
                                ClassName = NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("~/Admin/AnnouncementBar/Edit/"))
                            },
                            new ColumnProperty(nameof(Nop.Plugin.Widgets.AnnouncementBar.Models.AnnouncementItemModel.Id))
                            {
                                Title = deleteText,
                                Width = "100",
                                ClassName = NopColumnClassDefaults.Button,
                                Render = new RenderButtonRemove(deleteText)
                            }
                        }
                    })
                </div>

            </nop-card>
        </nop-cards>
    </div>
</section>